@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
}
.ant-btn-primary {
  color: #111;
  background: #1fdf64;
  border: 1px solid #1fdf64;
}
.ant-btn-primary:not(:disabled):hover {
  color: #111;
  background: #1fdf64;
  border: 1px solid #1fdf64;
}
