@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
}
.ant-btn-primary {
  color: #111;
  background: #1fdf64;
  border: 1px solid #1fdf64;
}
.ant-btn-primary:not(:disabled):hover {
  color: #fff;
  background: #1fdf64;
  border: 1px solid #1fdf64;
}
:where(.css-dev-only-do-not-override-1me4733).ant-tabs .ant-tabs-tab:hover {
  color: #1fdf64;
}
:where(.css-dev-only-do-not-override-1me4733).ant-tabs-card
  > .ant-tabs-nav
  .ant-tabs-tab-active {
  color: #1fdf64;
  background: #ffffff;
}
